html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gill Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: underline;
}

p+p {
	margin-top: 20px;
}

#introduction {
	min-height: 90vh;
	padding: 20vh 15% 20vh;
	padding-left: 340px;
	background: #a6ffcb;;
	align-items: center;
	justify-content: center;
	font-size: 28px;
}
@media (max-width: 680px) {
	#introduction {
		padding-left: 110px;
		font-size: 16px;
	}
}

#life {
	background: linear-gradient(to top, #1fa2ff, #12d8fa, #a6ffcb);
}

#timeline {
	position: fixed;
	width: 0;
	top: 10px;
	bottom: 100px;
	left: 0;
	overflow: hidden;
}

#timeline .marker {
	position: absolute;
	width: 100%;
	border-top: 1px solid #666;
}

#cords {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 330px;
	height: 100%;
}
@media (max-width: 680px) {
	#cords {
		width: 90px;
	}
}

#cords path {
	opacity: 0;
	transition: opacity 800ms ease-out;
}

#cords path.visible {
	opacity: 1;
}

#content {
	padding: 10px 12.2807017544% 72px 340px;
}
@media (max-width: 680px) {
	#content {
		padding: 10px 10% 48px 110px;
	}
}

#events .event {
	margin-bottom: 30px;
	line-height: 1.3;
}

#events .event time {
	font-weight: 400;
}

#note {
	background: #ea1f6e;
	color: #fff;
	font-weight: 600;
	padding: 0.8em 10% 1em;
}

h1 {
	margin-bottom: 1em;
}